
<!--Projects/Show-->


<div class="row">
  <h1 class='header-12-12'><%= link_to @project.name, 'manup.space' %></h1>
  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 project-img-div_show">
      <%= image_tag 'man-up.png', class:'img-responsive' %>
      <h2><%= @project.description %></h2>
      <h2><%= @project.name %> features:</h2>
      <ul>
        <% project_features_list %>
        <% @features_array.each do |feature| %>
           <li><h4><%= feature %></h4></li>
        <% end %>
      </ul>
      
      <h2><% @project.technology %></h2>
  </div>
</div>