
<!--Projects/Show-->
<% @head = @project.name.byteslice(0, 2)  #=> "el" %>
<% @tail = @project.name.delete(@head).upcase %>
<% @head.upcase! %>
<div class="row">
  <%= render 'shared/title', locals: { head: @head, tail: @tail } %>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 project-img-div_show">
      <%= image_tag 'man-up.png', class: 'img-responsive' %>
      <h2><%= @project.description %></h2>
      <h2><%= @project.name %> features:</h2>
      <ul>
        <% project_features_list %>
        <% @features_array.each do |feature| %>
           <li><h4><%= feature %></h4></li>
        <% end %>
      </ul>
      
      <h2><% @project.technology %></h2>
  </div>
</div>