
<!-- NavBar (header) -->
    
<%# LJR logo ( Keep outside navbar container! ) %>
<div class="nav-brand-custom"></div>
  
<%# navbar-container (only contains links and background color ) %>
<div class="navbar-container">
  
  <%# navbar links %>
  <ul class='nav-inline-list'>
    <li><%= link_to 'About', '#' %></li>
    <li><%= link_to 'Projects', '#' %></li>
    <li><%= link_to 'Blog' %></li>
  </ul>
  
  <%# right side contact button %>
  <%= button_to 'Contact', '#', class:'nav-btn-custom' %>

</div><%# ^ navbar-container %>  
  
<%# navbar mobile sandwich ( toggles full screen nav links ) %>
<%# keep outside navbar container! %>
<div class='nav-sandwich-div' id='sandwich'>
  <div class="toggle-line" id='bar-1'></div>
  <div class="toggle-line" id='bar-2'></div>
  <div class="toggle-line" id='bar-3'></div>
</div>
    
<%# Full screen nav for mobile toggled with sandwich %>  
<div class="nav-mobile-full" id='nav-mobile'>
  <ul>
    <li><%= link_to 'Projects', '#' %></li>
    <li class="nav-line"></li>
    <li><%= link_to 'About', '#' %></li>
    <li><%= link_to 'Blog', '#' %></li>
    <li><%= link_to 'Contact', '#' %></li>
  </ul>
</div>


